snippet use "\usepackage"
	\\usepackage{${1}}

snippet tbox "todo box" 
	% ----------------------------------------------------------------------
	% TODO: 
	% - 
	% ----------------------------------------------------------------------

snippet subsub "\subsubsection"
	\subsubsection{${0}}

snippet c "Command with 1 thingy"
	\\${1}{${0}}

snippet cc "Command with 2 thingies"
	\\${1}{${2}}{${0}}

