snippet use "\usepackage"
	\\usepackage{${1}}

snippet tbox "todo box" 
	% ----------------------------------------------------------------------
	% TODO: 
	% - 
	% ----------------------------------------------------------------------

snippet subsub "\subsubsection"
	\subsubsection{${0}}
