snippet use "\usepackage"
	\\usepackage{${1}}

snippet tbox "todo box" 
	% ----------------------------------------------------------------------
	% TODO: 
	% - 
	% ----------------------------------------------------------------------
